body {
  background-color: #D97A00;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table.td {
  color: white;
}

.table_custom {
  --bs-table-bg: transparent !important;
}